.ctn-cardanimal {
    width: 30%;
    height: 60vh;
    background-color: #A7A000;
    border: 2px solid #555;
    font-family: "Caesar Dressing", system-ui;
}

.ctn-cardanimal > p {
    font-size: 2em;
}

.card-animal > img{
    width: 50%;
    height: 50%;
}

/*css/Renato
    .ctn-animais {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}*/